{% extends "core/base.html" %}
{% load static %}
{% block title %}Powering a sustainable future{% endblock title %}

{% block main-content %}
   
   {% include "core/partials/hero.html" %}
            
   {% include "core/partials/about.html" %}
            
   {% include "core/partials/services.html" %}
          
   {% include "core/partials/projects.html" %}

   {% include "core/partials/process.html" %}   

   {% include "core/partials/testimonial.html" %}      

   {% include "core/partials/company.html" %}
      
   {% include "core/partials/contact.html" %}

   {% include "core/partials/blog.html" %}
      
{% endblock main-content %}