{% load static %}

<!-- blog area start -->
<section class="tp-blog-2-ptb pt-130 pb-130 " data-bg-color="#EBF3ED">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tp-blog-2-heading text-center mb-55">
                    <span class="tp-section-title-pre">OUR LATEST BLOG POST</span>
                    <h4 class="tp-section-title mb-30">Our interesting articles</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="tp-blog-2-item mb-30 wow fadeInUp" data-wow-duration=".9s" data-wow-delay=".3s">
                    <div class="tp-blog-2-item-thumb p-relative">
                        <a href="blog-details.html"><img src="{% static "core/assets/img/blog/home-2/blog-2-1.jpg" %}" alt=""></a>
                        <span class="tp-blog-2-date">12 <i>Apr</i></span>
                    </div>
                    <div class="tp-blog-2-item-content">
                        <h4 class="tp-blog-2-item-title"><a class="textline" href="blog-details.html">Geography affect solar energy potential greenhouse </a></h4>
                        <p>It amet consectetur adipiscing elit duis an tristique. Nulla aliquet enim tortor</p>
                        <div class="tp-blog-2-item-btn-box d-flex justify-content-between align-items-center">
                            <div class="tp-blog-2-item-btn">
                                <a href="blog-details.html">Read More</a>
                            </div>
                            <div class="tp-blog-2-item-time">
                                <span><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 3.8V8L10.8 9.4M15 8C15 11.866 11.866 15 8 15C4.13401 15 1 11.866 1 8C1 4.13401 4.13401 1 8 1C11.866 1 15 4.13401 15 8Z" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg> 2 hours ago</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="tp-blog-2-item mb-30 wow fadeInUp" data-wow-duration=".9s" data-wow-delay=".5s">
                    <div class="tp-blog-2-item-thumb p-relative">
                        <a href="blog-details.html"><img src="{% static "core/assets/img/blog/home-2/blog-2-2.jpg" %}" alt=""></a>
                        <span class="tp-blog-2-date">22 <i>Jul</i></span>
                    </div>
                    <div class="tp-blog-2-item-content">
                        <h4 class="tp-blog-2-item-title"><a class="textline" href="blog-details.html">We are very fussy about which installers we allow provide</a></h4>
                        <p>It amet consectetur adipiscing elit duis an tristique. Nulla aliquet enim tortor</p>
                        <div class="tp-blog-2-item-btn-box d-flex justify-content-between align-items-center">
                            <div class="tp-blog-2-item-btn">
                                <a href="blog-details.html">Read More</a>
                            </div>
                            <div class="tp-blog-2-item-time">
                                <span><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 3.8V8L10.8 9.4M15 8C15 11.866 11.866 15 8 15C4.13401 15 1 11.866 1 8C1 4.13401 4.13401 1 8 1C11.866 1 15 4.13401 15 8Z" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg> 2 hours ago</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="tp-blog-2-item mb-30 wow fadeInUp" data-wow-duration=".9s" data-wow-delay=".7s">
                    <div class="tp-blog-2-item-thumb p-relative">
                        <a href="blog-details.html"><img src="{% static "core/assets/img/blog/home-2/blog-2-3.jpg" %}" alt=""></a>
                        <span class="tp-blog-2-date">02 <i>Mar</i></span>
                    </div>
                    <div class="tp-blog-2-item-content">
                        <h4 class="tp-blog-2-item-title"><a class="textline" href="blog-details.html">We have published 81,194 uncensored reviews</a></h4>
                        <p>It amet consectetur adipiscing elit duis an tristique. Nulla aliquet enim tortor</p>
                        <div class="tp-blog-2-item-btn-box d-flex justify-content-between align-items-center">
                            <div class="tp-blog-2-item-btn">
                                <a href="blog-details.html">Read More</a>
                            </div>
                            <div class="tp-blog-2-item-time">
                                <span><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 3.8V8L10.8 9.4M15 8C15 11.866 11.866 15 8 15C4.13401 15 1 11.866 1 8C1 4.13401 4.13401 1 8 1C11.866 1 15 4.13401 15 8Z" stroke="#828282" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg> 2 hours ago</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog area end -->