{% load static %}

<!-- hero area start -->
<section class="tp-hero-2-ptb tp-hero-hight fix p-relative" data-background="{% static "core/assets/img/hero/home-2/home-2-bg.jpg" %}">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="tp-hero-2-content p-relative">
               <div class="tp-hero-2-heading mb-45">
                  <h3 class="tp-hero-heading-title wow fadeInUp" data-wow-duration=".9s" data-wow-delay=".3s">Make the future <br> bright with solar <br> power</h3>
               </div>
               <div class="tp-hero-2-btn-box d-flex align-items-center wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
                  <div class="tp-hero-btn">
                     <a class="tp-btn btn-2 btn-text-flip" href="about.html"><span data-text="Discover More">Discover More</span></a>
                  </div>
                  <a class="tp-hero-btn-video popup-video d-flex align-items-center" href="https://www.youtube.com/watch?v=go7QYaQR494"><span><svg width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M11 7L0.5 13.0622V0.937822L11 7Z" fill="currentColor"></path>
                  </svg></span>
                     <img src="{% static "core/assets/img/hero/video-text.svg" %}" alt="">
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="tp-hero-2-shape">
      <div class="tp-hero-2-shape-1 wow fadeInRight" data-wow-duration=".5s" data-wow-delay=".5s">
         <img src="{% static "core/assets/img/hero/home-2/home-2-solar.png" %}" alt="">
      </div>
      <div class="tp-hero-2-shape-2">
         <img class="pilar" src="{% static "core/assets/img/about/about-shape-1.png" %}" alt="">
         <img class="animation-rotation" src="{% static "core/assets/img/about/about-shape-2.png" %}" alt="">
      </div>
   </div>
</section>
<!-- hero area end -->