{% load static %}

<!-- step area start -->
<section class="tp-step-ptb pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tp-step-heading mb-80 text-center">
                    <span class="tp-section-title-pre">OUR 4 WORKING STEPS</span>
                    <h4 class="tp-section-title">Our working steps</h4>
                </div>
            </div>
        </div>

        <div class="tp-step-box p-relative wow fadeInUp" data-wow-duration=".9s" data-wow-delay=".3s">
            <div class="tp-step-shapes">
                <div class="tp-step-shape-1">
                    <img src="{% static "core/assets/img/step/step-arrow-1.png" %}" alt="">
                </div>
                <div class="tp-step-shape-2">
                    <img src="{% static "core/assets/img/step/step-arrow-2.png" %}" alt="">
                </div>
                <div class="tp-step-shape-3">
                    <img src="{% static "core/assets/img/step/step-arrow-1.png" %}" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="tp-step-item p-relative text-center mb-30">
                        <div class="tp-step-item-thumb p-relative mb-20">
                            <img src="{% static "core/assets/img/step/step-thumb-1.jpg" %}" alt="">
                            <span>01</span>
                        </div>
                        <div class="tp-step-item-content">
                            <h4 class="tp-step-item-title">Initial consultation</h4>
                            <p>Since 1985 Reed has pioneered <br>
                                cialist recruitment, sour</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="tp-step-item p-relative text-center mb-30">
                    <div class="tp-step-item-thumb p-relative mb-20">
                        <img src="{% static "core/assets/img/step/step-thumb-2.jpg" %}" alt="">
                        <span>02</span>
                    </div>
                    <div class="tp-step-item-content">
                        <h4 class="tp-step-item-title">System design</h4>
                        <p>Since 1985 Reed has pioneered <br>
                            cialist recruitment, sour</p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="tp-step-item p-relative text-center mb-30">
                    <div class="tp-step-item-thumb p-relative mb-20">
                        <img src="{% static "core/assets/img/step/step-thumb-3.jpg" %}" alt="">
                        <span>03</span>
                    </div>
                    <div class="tp-step-item-content">
                        <h4 class="tp-step-item-title">Install & active</h4>
                        <p>Since 1985 Reed has pioneered <br>
                            cialist recruitment, sour</p>
                    </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="tp-step-item p-relative text-center mb-30">
                    <div class="tp-step-item-thumb p-relative mb-20">
                        <img src="{% static "core/assets/img/step/step-thumb-4.jpg" %}" alt="">
                        <span>04</span>
                    </div>
                    <div class="tp-step-item-content">
                        <h4 class="tp-step-item-title">System monitoring</h4>
                        <p>Since 1985 Reed has pioneered <br>
                            cialist recruitment, sour</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
   <!-- step area end -->