{% load static %}

<!-- portfolio area start -->
<section class="tp-portfolio-2-ptb pt-130 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tp-portfolio-2-heading mb-55">
                    <span class="tp-section-title-pre">KNOW ABOUT US</span>
                    <h4 class="tp-section-title">Latest project we have <br>
                    done for you</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="tp-portfolio-2-tabs wow fadeInLeft" data-wow-duration=".9s" data-wow-delay=".3s">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <button class="nav-link" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Lightly energy savings</button>
                        <button class="nav-link active" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Custom energy</button>
                        <button class="nav-link" id="v-pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#v-pills-disabled" type="button" role="tab" aria-controls="v-pills-disabled" aria-selected="false" >Agriculture facilities</button>
                        <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Warehouse solar</button>
                        <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Man worker field</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="tp-portfolio-2-tabs-content wow fadeInRight" data-wow-duration=".9s" data-wow-delay=".3s">
                    <div class="tab-content" id="v-pills-tabContent">

                        <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
                            <div class="tp-portfolio-2-item p-relative">
                                <div class="tp-portfolio-2-item-thumb">
                                    <img src="{% static "core/assets/img/portfolio/home-2/portfolio-2-1.jpg" %}" alt="">
                                </div>
                                <div class="tp-portfolio-2-item-content">
                                    <h3 class="tp-portfolio-2-item-title"><a href="portfolio-details.html">Lightly energy savings</a></h3>
                                    <p>Since 1985 Reed has pioneered spe <br>
                                    cialist recruitment, sourcing</p>
                                    <a href="portfolio-details.html">Explore More <span>
                                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 6.5H12M12 6.5L6.5 1M12 6.5L6.5 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
                            <div class="tp-portfolio-2-item p-relative">
                                <div class="tp-portfolio-2-item-thumb">
                                    <img src="{% static "core/assets/img/portfolio/home-2/portfolio-2-2.jpg" %}" alt="">
                                </div>
                                <div class="tp-portfolio-2-item-content">
                                    <h3 class="tp-portfolio-2-item-title"><a href="portfolio-details.html">Custom energy</a></h3>
                                    <p>Since 1985 Reed has pioneered spe <br>
                                        cialist recruitment, sourcing</p>
                                    <a href="portfolio-details.html">Explore More <span>
                                        <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 6.5H12M12 6.5L6.5 1M12 6.5L6.5 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel" aria-labelledby="v-pills-disabled-tab" tabindex="0">
                            <div class="tp-portfolio-2-item p-relative">
                                <div class="tp-portfolio-2-item-thumb">
                                    <img src="{% static "core/assets/img/portfolio/home-2/portfolio-2-3.jpg" %}" alt="">
                                </div>
                                <div class="tp-portfolio-2-item-content">
                                    <h3 class="tp-portfolio-2-item-title"><a href="portfolio-details.html">Luminous Pathways</a></h3>
                                    <p>Since 1985 Reed has pioneered spe <br>
                                        cialist recruitment, sourcing</p>
                                    <a href="portfolio-details.html">Explore More <span>
                                        <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 6.5H12M12 6.5L6.5 1M12 6.5L6.5 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">
                            <div class="tp-portfolio-2-item p-relative">
                                <div class="tp-portfolio-2-item-thumb">
                                    <img src="{% static "core/assets/img/portfolio/home-2/portfolio-2-4.jpg" %}" alt="">
                                </div>
                                <div class="tp-portfolio-2-item-content">
                                    <h3 class="tp-portfolio-2-item-title"><a href="portfolio-details.html">Radiant Ventures</a></h3>
                                    <p>Since 1985 Reed has pioneered spe <br>
                                        cialist recruitment, sourcing</p>
                                    <a href="portfolio-details.html">Explore More <span>
                                        <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 6.5H12M12 6.5L6.5 1M12 6.5L6.5 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">
                            <div class="tp-portfolio-2-item p-relative">
                                <div class="tp-portfolio-2-item-thumb">
                                    <img src="{% static "core/assets/img/portfolio/home-2/portfolio-2-5.jpg" %}" alt="">
                                </div>
                                <div class="tp-portfolio-2-item-content">
                                    <h3 class="tp-portfolio-2-item-title"><a href="portfolio-details.html">Sunrise Innovations</a></h3>
                                    <p>Since 1985 Reed has pioneered spe <br>
                                        cialist recruitment, sourcing</p>
                                    <a href="portfolio-details.html">Explore More <span>
                                        <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 6.5H12M12 6.5L6.5 1M12 6.5L6.5 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- portfolio area end -->