{% load static %}

 
<!-- testimonial area start -->
<section class="tp-testimonial-2-ptb p-relative fix pt-130 pb-130" data-bg-color="#EBF3ED">
    <div class="tp-testimonial-2-shape">
        <h1>Solar energy</h1>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="tp-testimonial-2-wrapper p-relative">
                    <div class="swiper tp-testimonial-content-active">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="tp-testimonial-2-item text-center">
                                <img src="{% static "core/assets/img/testimonial/home-2/author-shape.png" %}" alt="">
                                <h4 class="tp-testimonial-2-item-title">Excellent solar systems</h4>
                                <p>“ There are many variations passages Lorem Ipsum available <br>
                                    the majority suffered alteration in some form by injected humour <br> randomised look embarrassing in middle text ” </p>
                                <span class="tp-testimonial-2-item-user">Shanelle Blake</span>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tp-testimonial-2-item text-center">
                                <img src="{% static "core/assets/img/testimonial/home-2/author-shape.png" %}" alt="">
                                <h4 class="tp-testimonial-2-item-title">Excellent solar systems</h4>
                                <p>“ There are many variations passages Lorem Ipsum available <br>
                                    the majority suffered alteration in some form by injected humour <br> randomised look embarrassing in middle text ” </p>
                                <span class="tp-testimonial-2-item-user">Shanelle Blake</span>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tp-testimonial-2-item text-center">
                                <img src="{% static "core/assets/img/testimonial/home-2/author-shape.png" %}" alt="">
                                <h4 class="tp-testimonial-2-item-title">Excellent solar systems</h4>
                                <p>“ There are many variations passages Lorem Ipsum available <br>
                                    the majority suffered alteration in some form by injected humour <br> randomised look embarrassing in middle text ” </p>
                                <span class="tp-testimonial-2-item-user">Shanelle Blake</span>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tp-testimonial-2-item text-center">
                                <img src="{% static "core/assets/img/testimonial/home-2/author-shape.png" %}" alt="">
                                <h4 class="tp-testimonial-2-item-title">Excellent solar systems</h4>
                                <p>“ There are many variations passages Lorem Ipsum available <br>
                                    the majority suffered alteration in some form by injected humour <br> randomised look embarrassing in middle text ” </p>
                                <span class="tp-testimonial-2-item-user">Shanelle Blake</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tp-testimonial-2-nav">
                        <button type="button" class="tp-testimonial-prev">
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 7H1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7 1L1 7L7 13" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        </button>
                        <button type="button" class="tp-testimonial-next"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 7H13" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7 1L13 7L7 13" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg></button>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8">
                <div class="tp-testimonial-2-thumb-wrap">
                    <div class="swiper tp-testimonial-thumb-active">
                        <div class="swiper-wrapper text-center">
                            <div class="swiper-slide">
                                <div class="tp-testimonial-2-thumb">
                                    <img data-width="60" src="{% static "core/assets/img/testimonial/home-2/author-1.png" %}" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tp-testimonial-2-thumb">
                                    <img data-width="60" src="{% static "core/assets/img/testimonial/home-2/author-2.png" %}" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tp-testimonial-2-thumb">
                                    <img data-width="60" src="{% static "core/assets/img/testimonial/home-2/author-3.png" %}" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tp-testimonial-2-thumb">
                                    <img data-width="60" src="{% static "core/assets/img/testimonial/home-2/author-4.png" %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonial area end -->
